header {
    width: 100%;
    height: 65px;
    padding: 2px;
    background: #876850;
    position: sticky;
    top: 0;
    z-index: 20;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 55px;
    margin: 6px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
  
  .overlay-content {
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .overlay a {
    font-family: Nunito;
    text-decoration: none;
    font-size: 60px;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
    .closebtn{
        align-self: flex-start;
  }

  .closebtn {
    font-size: 45px;
    right: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 60px}
    .overlay .closebtn {
    font-size: 60px;
    }
  }

@media screen and (max-height: 900px) {
  .Menu{
    display: block;
  }
}

.Menu{
  display: hidden;
  font-size:45px;
  cursor:pointer;
  color: #ffffff;
}

.MainMenu{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}