.content {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background: #d7c4b5;
    left: 0;
}

.sort {
    width: 86%;
    height: auto;
    margin: 0px auto 10px;
    background-color: #342727;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Sort_head{
    width: 86%;
    height: auto;
    background-color: #876850;
    margin: 10px auto 0px;
    color: #ffffff;
    padding: 5px;
}

.Sort_Icon{
    color: #fff;
    height: 40px;
    width: 40px;
}

.Block{
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.companent{
    display: flex;
    margin: 5px;
    font-size: 20px;
    color: #fff;
    font-family: Nunito;
}

.Icon{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

li{
    list-style: none;
}

.custom-checkbox{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.cookie img {
    width: 150px;
    height: 150px;
    transition: 0.3s;
}

.characters a {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.cookie {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.cookie img:hover {
    transform: scale(1.2)
}

.characters { /* Блок со всеми персонажами  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 900px) {

    .cookie img {
        width: 120px;
        height: 120px;
        margin: 5px;
    }

    .cookie img:hover {
        width: 124px;
        height: 124px;
    }

    .characters a {
        width: 120px;
        height: 120px;
    }

    .cookie {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 600px) {
    .cookie img {
        width: 90px;
        height: 90px;
        margin: 5px;
    }

    .cookie img:hover {
        width: 94px;
        height: 94px;
    }

    .characters a {
        width: 90px;
        height: 90px;
    }

    .cookie {
        width: 90px;
        height: 90px;
    }

    .Sort_head{
        width: 90%;
    }

    .sort {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .Block{
        height: 110px;
    }
    .companent{
        font-size: 15px;
    }
    .custom-checkbox{
        width: 25px;
        height: 25px;
    }
    .Icon{
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 450px) {

    .Block{
        height: 150px;

    }

    .companent{
        font-size: 15px;
        margin: 2px;
    }
    .custom-checkbox{
        width: 25px;
        height: 25px;
    }
    .Icon{
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
        margin-right: 3px;
    }
}